* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

main{
    max-width: 100vw;
    height: calc(100vh - 90px);
    background-color: aquamarine;
}

aside{
    height: 90px;
    background-color: bisque;
}

.navbar{
    width: 230px;
    height: calc(100vh - 90px);
    background-color: brown;
}

.upgrade-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    width: calc(100vw - 230px);
    background-color: black;
}